.icon {
  width: 24px;
  height: 24px;
}

.icon img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

@media (prefers-color-scheme: dark) {
  .icon img {
    filter: invert(100%);
  }
}
