.container {
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: contrast(0);
}

.noItem {
  width: 10rem;
  height: 10rem;
  background-size: contain;
}

.description {
  font-size: larger;
}
