.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 16rem;
  height: fit-content;
  background-color: rgb(var(--nav-background-color));
  border-radius: 12px;
  border: solid 1px rgb(var(--border-color));
}

@media screen and (max-width: 600px) {
  .nav {
    justify-content: unset;
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 100vw;
    border-radius: 0;
    transition: right 400ms ease-in-out;
  }
}

:global(#nav:checked) + .nav {
  right: 0;
}

.mobileFiltersTitle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  font-size: large;
  border-bottom: 1px solid rgb(var(--border-color));
}

@media screen and (min-width: 600px) {
  .mobileFiltersTitle {
    display: none;
  }
}

.closeButton {
  position: absolute;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 100%;
  background-color: rgb(var(--foreground-color), 0.05);
}

.filtersContainer {
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .filtersContainer {
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
}

.mobileSortMenu {
  display: flex;
  column-gap: 1rem;
  width: max-content;
  overflow-x: auto;
  padding-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .mobileSortMenu {
    display: none;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1px solid rgb(var(--border-color));
}

.filter:last-child {
  border: none !important;
}

.accordionCheckbox {
  display: none;
}

.filterName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.filterName:hover {
  background-color: rgb(var(--foreground-color), 0.05);
}

.expandIcon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/icons/expand_more.svg");
}

@media (prefers-color-scheme: dark) {
  .expandIcon {
    filter: invert(1);
  }
}

.filterValuesContainer {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 300ms ease-out;
}

.filterValues {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.75rem;
}

.filterValues label {
  width: 100%;
}

.accordionCheckbox:checked + .filterName .expandIcon {
  background-image: url("/icons/expand_less.svg");
}

.accordionCheckbox:checked + .filterName + .filterValuesContainer {
  max-height: 12rem;
  animation: showScrollbar 300ms forwards;
}

@keyframes showScrollbar {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

.mobileShowResultsButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  border-top: 1px solid rgb(var(--border-color));
}

@media screen and (min-width: 600px) {
  .mobileShowResultsButton {
    display: none;
  }
}

.layoutTitle {
  justify-content: space-between;
}

.sortContainer {
  position: relative;
  width: 12rem;
}

.sortButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  border: 1px solid rgb(var(--border-color));
  border-radius: 12px;
  font-size: medium;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .sortButton {
    display: none;
  }
}

.sortValues {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1rem !important;
  margin-top: 0.5rem;
  font-size: medium;
  box-shadow: var(--box-shadow);
  visibility: hidden;
  opacity: 0;
  transition: margin 300ms ease-in-out, visibility 200ms ease-in-out,
    opacity 200ms ease-in-out;
}

.sortValues div {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.sortValues div:hover {
  background-color: rgb(var(--foreground-color), 0.05);
}

.sortButton:focus + .sortValues {
  margin-top: 1.5rem;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .layoutBox {
    padding: 0 !important;
  }
}

.mobileButtons {
  display: flex;
  padding-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .mobileButtons {
    display: none;
  }
}

.mobileButtons label {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  height: 3rem;
  border-top: 1px solid rgb(var(--border-color));
  border-bottom: 1px solid rgb(var(--border-color));
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  .row {
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;
  width: 14.25rem;
  background-color: rgb(var(--nav-background-color));
  border: 1px solid rgb(var(--border-color));
  border-radius: 8px;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .product {
    width: calc(50vw - 0.75rem);
  }
}

.favoriteButton {
  align-self: flex-end;
  position: absolute;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  transition: background-color 200ms ease-in-out;
}

.favoriteButton:hover {
  background-color: rgb(229, 231, 235);
}

.product img {
  width: calc(14.25rem - 2px);
  height: 14rem;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media screen and (max-width: 600px) {
  .product img {
    width: 100%;
  }
}

.product .title {
  padding: 1rem;
  font-size: medium;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .product .title {
    font-size: 14px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  padding-top: 0;
}

.product .price {
  font-size: x-large;
}

.column button {
  height: 2.5rem;
  background-color: unset;
  color: unset;
  border: 2px solid rgb(var(--border-color));
}

@media screen and (max-width: 600px) {
  .column button {
    display: none;
  }
}

.column button:hover {
  background-color: rgb(var(--border-color));
}
