.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.previousButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  transition: background-color 200ms ease-in-out;
}

.previousButton:hover {
  background-color: rgba(var(--foreground-color), 0.1);
}
