.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.previousButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  transition: background-color 200ms ease-in-out;
}

.previousButton:hover {
  background-color: rgba(var(--foreground-color), 0.1);
}

.deleteButton {
  color: white !important;
  background-color: rgb(239, 68, 68) !important;
}

.deleteButton:hover {
  background-color: rgba(239, 68, 68, 0.9) !important;
}

.imagesContainer {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1rem;
  overflow-x: auto;
}

.imagesContainer img {
  width: 11rem;
  height: 11rem;
  object-position: center;
  object-fit: contain;
  border: 1px solid rgb(var(--border-color));
  border-radius: 12px;
  background-color: white;
  pointer-events: none;
}

.imagesLabel {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 14px;
}

.imageBox {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: move;
  transition: transform 300ms, opacity 300ms;
}

.imageBox:active {
  opacity: 0.8;
}

.imageBox button {
  align-self: flex-end;
  position: absolute;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  background-color: rgba(200, 200, 200, 0.7);
  transition: background-color 200ms ease-in-out;
}

.imageBox button:hover {
  background-color: rgba(200, 200, 200, 0.9);
}

.imageBox div {
  filter: none;
}
