@media screen and (max-width: 600px) {
  .toast {
    margin: 1rem;
    border-radius: 6px;
  }
}

.main {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    padding: 0;
    flex-grow: unset;
    margin: 1rem;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  width: 100%;
  background-color: rgb(var(--nav-background-color));
  border-top: 1px solid rgb(var(--border-color));
}

@media screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
