.row {
  display: flex;
  column-gap: 2rem;
}

.genderColumn {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.previousButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  transition: background-color 200ms ease-in-out;
}

.previousButton:hover {
  background-color: rgba(var(--foreground-color), 0.1);
}

.deleteButton {
  color: white !important;
  background-color: rgb(239, 68, 68) !important;
}

.deleteButton:hover {
  background-color: rgba(239, 68, 68, 0.9) !important;
}

.eye {
  position: absolute;
  margin-top: 1.2rem;
  margin-left: -2rem;
}
