.link {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  transition: transform 200ms ease-in-out;
  will-change: transform;
}

@media screen and (min-width: 600px) {
  .link:hover {
    transform: translateY(-2px);
  }
}

.link span {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .link span {
    display: none;
  }
}
