.boxContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  font-size: large;
}

.box {
  width: 25rem;
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
    border: unset !important;
  }
  .box form {
    row-gap: 2rem;
  }
}
