.table {
  width: 100%;
  border: 1px solid rgb(var(--border-color));
  border-radius: 8px;
  padding: 1rem;
}

.table th {
  text-align: start;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.noResult {
  height: 6rem;
  text-align: center;
}
