.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.container input {
  width: 16rem;
  background-image: url("/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 98%;
}

.table {
  width: 100%;
  border: 1px solid rgb(var(--border-color));
  border-radius: 8px;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
  background-color: rgb(243 244 246);
}

@media (prefers-color-scheme: dark) {
  .table {
    background-color: rgb(24 24 24);
  }
}

.table thead tr {
  white-space: nowrap;
  background-color: rgb(229 231 235);
}

@media (prefers-color-scheme: dark) {
  .table thead tr {
    background-color: rgb(32 32 32);
  }
}

.table th {
  text-align: start;
  padding: 1rem;
}

.table tbody td {
  padding: 1rem;
}

.table tbody tr {
  border-bottom: 1px solid rgb(var(--border-color));
  border-top: 1px solid rgb(var(--border-color));
}

.table tbody tr:nth-child(odd) {
  background-color: rgb(var(--background-color));
}

.table tbody tr:hover {
  background-color: rgb(243 244 246);
}

@media (prefers-color-scheme: dark) {
  .table tbody tr:hover {
    background-color: rgb(24 24 24);
  }
}

.columnTitle {
  display: flex;
  column-gap: 0.5rem;
  cursor: pointer;
}

.columnTitle span {
  transition: transform 200ms ease-in-out, filter 200ms ease-in-out;
}

.arrow {
  filter: contrast(0);
}

.arrowActive {
  filter: contrast(none);
}

.arrowRotate {
  transform: rotate(180deg);
}

.tableFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  padding-left: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions button {
  padding: 0.5rem;
  border-radius: 100%;
  transition: background-color 200ms ease-in-out;
}

.actions button:hover {
  background-color: rgba(var(--foreground-color), 0.1);
}

.actions button:disabled {
  pointer-events: none;
  filter: contrast(0);
}

.noResult {
  text-align: center;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  transition: background-color 200ms ease-in-out;
}

.editButton:hover {
  background-color: rgba(var(--foreground-color), 0.1);
}
